There will often be cases where one wants to add a new column to their dataframe in Pandas based on the value(s) of other columns. Below is an example of using the `apply()` method to do so. NOTE: If you're only trying to create a binary value for your new column (e.g., 0 & 1) than `np.where()` is probably a better way to go.

In [2]:
import pandas as pd

In [1]:
#create fake data
reviews = {'review': ['It was bad', 'It was ok', 'It was awesome!'], 'stars': [2,3,5]}

In [3]:
#make a dataframe from the data
df = pd.DataFrame.from_dict(reviews)

In [4]:
#look at data
df

            review  stars
0       It was bad      2
1        It was ok      3
2  It was awesome!      5

In [6]:
#create column of new target
#i.e., group stars ratings
def recode(row):
    if row['stars'] == 1 or row['stars'] == 2: x=0 # includes ratings 1,2
    elif row['stars'] == 4 or row['stars'] == 5: x=2 # includes ratings 4,5
    else: x = 1 # includes only rating 3    
    return x

df['target'] = df.apply(recode, axis=1)

In [8]:
#look at new column
df

            review  stars  target
0       It was bad      2       0
1        It was ok      3       1
2  It was awesome!      5       2