## How to substring in Pandas

Often, in SQL one will us the substring function. There is simliar functionality in Pandas using str.slice()

In [2]:
import pandas as pd

In [1]:
#make fake data
df_dict = {'location': ['SF', 'NY', 'CHI'], 'date':['2016-08-08', '2012-05-01', '2018-01-01']}

In [3]:
#make data fram
df = pd.DataFrame.from_dict(df_dict)
df

         date location
0  2016-08-08       SF
1  2012-05-01       NY
2  2018-01-01      CHI

Let's say I want to create a new column that just has the year part of the date

In [4]:
df['year'] = df.date.str.slice(0,4)
df

         date location  year
0  2016-08-08       SF  2016
1  2012-05-01       NY  2012
2  2018-01-01      CHI  2018

If I wanted month, it would be like this:

In [9]:
df['month'] = df.date.str.slice(5,7)
df

         date location  year month
0  2016-08-08       SF  2016    08
1  2012-05-01       NY  2012    05
2  2018-01-01      CHI  2018    01