## How to search list values in Pandas Dataframe

From time to time you'll find yourself having to work with a dataframe where one of the columns has lists as it's values. This can prove to be a headache if you're trying to filter the data frame based on the presense of a specific value(s) in that list. Here is the solution I came up with:

In [12]:
import pandas as pd
import numpy as np

In [7]:
#create fake data
x = {'a':[1,2,3], 'b':[['d','e','f'],['g','h','i'],['j','k','l']]}

In [8]:
#look at data
df = pd.DataFrame.from_dict(x)
df

   a          b
0  1  [d, e, f]
1  2  [g, h, i]
2  3  [j, k, l]

In [11]:
#if value is not in a list it is easy
#using isin()
df['a'].isin([1])

0     True
1    False
2    False
Name: a, dtype: bool

In [49]:
#if value is in a list I found it easiest
#to just make a new column with T/F
#if value was found in list in column
#have to iterate through datafram
#one row at a time because the lists are
#not hashed
list_x = []
for i in range(len(df)):
    list_x.append('g' in df['b'][i])

In [51]:
df['lookup'] = list_x
df

   a          b  lookup
0  1  [d, e, f]   False
1  2  [g, h, i]    True
2  3  [j, k, l]   False